version: 2.1

jobs:
  build:
    machine: true
    steps:
    - run:
        name: Retrive logs
        command: journalctl -f --no-pager
        background: true
    - run: which docker
    - run: docker -v
    - run:
        name: curl on openjdk:17.0
        command: |
          docker run --rm cimg/openjdk:17.0 curl -v --retry 3 "https://awscli.amazonaws.com/awscli-exe-linux-x86_64-2.13.1.zip" -o "~/tmp/17/awscliv2.zip" 
    - run:
        name: curl on openjdk:15.0
        command: |
          docker run --rm cimg/openjdk:15.0 curl -v --retry 3 "https://awscli.amazonaws.com/awscli-exe-linux-x86_64-2.13.1.zip" -o "~/tmp/15/awscliv2.zip" 
